// Color codes for
$egg-white: #FFF6C4; // solomie
$grandis: #FFD77E;
$west-side: #FF9C0F; // west-side
$zalando-orange: #FF6900;

$pippin: #FFDDDB;
$geraldine: #FA9585;
$flamingo: #F44F41;
$mojo: #C74236;

$snowy-mint: #C9FFD1;
$madang: #A0EBA6;
$forest-green: #1EB234;
$kohpayam: #188F2A;

$arctica: #DEF5FE; // pattens-blue
$sail: #B0D6FB; // french-pass
$heaven: #00ABF2; // cerulean
$liverleaf: #008DC9;

$white: #FFFFFF;
$athens-gray: #FAFBFC; // black-squeeze
$catkin: #F5F6F9; // catskill-white
$silver: #F0F1F6;
$earl-gray: #E9EAEF;

$mischka: #E1E2E8;
$miroschka: #D5D7DE;
$ghost: #CBCDD5;
$french-gray: #BDBFC7;

$bombay: #ACADB5;
$santas-gray: #9B9BA3;
$jumbo: #8B8A91;
$heron: #7a7980;

$asphalt: #626166;
$abbey: #454547;
$shark: #272829;
$black: #000000;
