// Color codes for

// green
$snowy-mint: #C9FFD1;
$madang: #A0EBA6;
$forest-green: #1EB234;
$kohpayam: #188F2A;

// red
$pippin: #FFDDDB;
$geraldine: #FA9585;
$flamingo: #F44F41;
$mojo: #C74236;

// orange
$egg-white: #FFF6C4; // solomie
$grandis: #FFD77E;
$west-side: #FF9C0F; // west-side
$zalando-orange: #FF6900;
$tiger: #D24400;  // new 13-6-17
$rust: #B63800; // new 13-6-17

// blue
$arctica: #DEF5FE; // pattens-blue
$sail: #B0D6FB; // french-pass
$heaven: #00ABF2; // cerulean
$liverleaf: #008DC9;
$deep-blue: #007DB3; // new 13-6-17
$bahama-blue: #006B99; // new 13-6-17

// grey-blue - new 13-6-17
$selago: #EAF0FD;
$spindle: #BACAEB;
$polo-blue: #8B9CC4;
$wild-blue: #7687AB;
$lynch: #5D6B88;
$fjord: #4A556C;

// warm-blue - new 13-6-17
$titan-white: #E5E6FF;
$perfume: #B2B5F8;
$burgundy-glow: #5F66DE;
$azure: #5156CC;
$royal-blue: #4549AE;
$persian-blue: #3A3D91;

// jeans - new 13-6-17
$porcelain: #E8EAFF;
$bilboa-flower: #B4B9ED;
$iris: #5C63AE;
$admiral: #464B8C;
$indigo: #3A3C75;
$midnight: #2E3153;

// plant-green - new 13-6-17
$lichen: #F1FFDF;
$moose: #C1DCA1;
$amsterdam: #7DAB44;
$shemrock: #69943B;
$avocado: #577F33;
$pine: #3F5E2F;

// animal-green - new 13-6-17
$tokey: #E1FFF0;
$camelion: #95CCB0;
$frog: #149253;
$viper: #12854D;
$turtle: #107846;
$crocodile: #0F6B3E;

// water-blue - new 13-6-17
$mountain-spring: #DDF9FF;
$creek: #A1D2E8;
$river: #57A2B5;
$lake: #3E8799;
$sea: #2A737F;
$ocean: #1B6370;

// petrol - new 13-6-17
$clear-day: #E7FFFD;
$sinbad: #A0D4CF;
$smaragd: #1F7D74;
$aruba: #1A6B62;
$cadet: #175C52;
$chrysocolla: #034338;

// violet - new 13-6-17
$white-pionter: #FAEAFF;
$prelude: #DABAE6;
$verbena: #A14EBF;
$orchid: #8B42A6;
$violet: #6D3B94;
$plum: #4A2C74;

// purple - new 13-6-17
$blue-chalk: #ECE3FF;
$light-wisteria: #BFAFE6;
$purple: #7258B0;
$dark-lavender: #5E4595;
$royal-purple: #4A3482;
$dark-purple: #2D1E66;

// berry - new 13-6-17
$lavender-bush: #FFE5EE;
$viola: #CF95A8;
$currant: #B82456;
$strawberry: #9D1F49;
$raspberry: #891B40;
$brambleberry: #6D1534;

// gray lightest
$white: #FFFFFF;
$athens-gray: #FAFBFC; // black-squeeze
$catkin: #F5F6F9; // catskill-white
$silver: #F0F1F6;
$earl-gray: #E9EAEF;
// gray light
$mischka: #E1E2E8;
$miroschka: #D5D7DE;
$ghost: #CBCDD5;
$french-gray: #BDBFC7;
// gray medium
$bombay: #ACADB5;
$santas-gray: #9B9BA3;
$jumbo: #8B8A91;
$heron: #7a7980;
// gray dark
$asphalt: #626166;
$abbey: #454547;
$shark: #272829;
$black: #000000;
