//Spaces
$space-xxs: 0.25rem; // 4px
$space-xs: 0.5rem; // 8px
$space-s: 0.75rem; // 12px
$space-m: 1rem; // 16px
$space-l: 1.5rem; // 24px
$space-xl: 2rem; // 32px
$space-xxl: 4rem; // 64px

//Inset Spacing
$inset-spacing-m: $space-m;
$inset-spacing-l: $space-l;
$inset-spacing-xxl: $space-xxl;

@mixin inset-spacing($value) {
    $alt-value: $inset-spacing-m;
    @if $value == "l" {
        $alt-value: $inset-spacing-l;
    } @else if $value == "xxl" {
        $alt-value: $inset-spacing-xxl;
    }
    padding: $alt-value;
}

//Spacing Inset Squish
$inset-spacing-squish-xs: $space-xxs $space-xs;
$inset-spacing-squish-m: $space-xs $space-m;
$inset-spacing-squish-xl: $space-m $space-xl;

@mixin inset-spacing-squish($value) {
    $alt-value: $inset-spacing-squish-xs;
    @if $value == "m" {
        $alt-value: $inset-spacing-squish-m;
    } @else if $value == "xl" {
        $alt-value: $inset-spacing-squish-xl;
    }
    padding: $alt-value;
}

//Spacing Inset Stretch
$inset-spacing-stretch-xs: $space-xs;
$inset-spacing-stretch-s: $space-xs $space-s;
$inset-spacing-stretch-m: $space-xs $space-m;
$inset-spacing-stretch-l: $space-s $space-l;

@mixin inset-spacing-stretch($value) {
    $alt-value: $inset-spacing-stretch-xs;
    @if $value == "s" {
        $alt-value: $inset-spacing-stretch-s;
    } @else if $value == "m" {
        $alt-value: $inset-spacing-stretch-m;
    } @else if $value == "l" {
        $alt-value: $inset-spacing-stretch-l;
    }
    padding: $alt-value;
}

//Space Stack
$space-stack-xxs: 0 0 $space-xxs 0;
$space-stack-xs: 0 0 $space-xs 0;
$space-stack-s: 0 0 $space-s 0;
$space-stack-m: 0 0 $space-m 0;
$space-stack-l: 0 0 $space-l 0;
$space-stack-xl: 0 0 $space-xl 0;
$space-stack-xxl: 0 0 $space-xxl 0;

//Space Stack
$space-inline-xxs: 0 $space-xxs 0 0;
$space-inline-xs: 0 $space-xs 0 0;
$space-inline-s: 0 $space-s 0 0;
$space-inline-m: 0 $space-m 0 0;
$space-inline-l: 0 $space-l 0 0;
$space-inline-xl: 0 $space-xl 0 0;
$space-inline-xxl: 0 $space-xxl 0 0;
