$base-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$heading-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$base-font-size: 1em;
$base-line-height: 1.5;
$heading-line-height: 1.2;
$base-border-radius: 3px;
$base-spacing: 1.5 * 1em;
$small-spacing: $base-line-height / 2;
$base-z-index: 0;
$orange: rgb(240, 133, 50);
$dark-gray: rgb(51, 51, 51);
$medium-gray: rgb(153, 153, 153);
$light-gray: rgb(221, 221, 221);
$base-font-color: rgb(51, 51, 51);
$action-color: rgb(240, 133, 50);
$base-border-color: rgb(221, 221, 221);
$base-border: 1px solid $base-border-color;
$base-background-color: rgb(255, 255, 255);
$secondary-background-color: rgb(242, 242, 242);
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
$base-duration: 150ms;
$base-timing: ease;