// Color codes for
// Blue
$pattens-blue: #def5fe;
$french-pass: #b0e6fb;
$cerulean: #00abf2;
// Green
$madang: #a0eba6;
$leaf-green: #1eb234;
$forest-green: #199d2c;
// Red
$geraldine: #fa9585;
$flamingo: #f44f41;
$red: #e80012;
// Orange
$solomie: #ffdf85;
$tree-poppy: #ff9c18;
$west-side: #ff8914;
// Gray
$black-squeeze: #fafcfd;
$catskill-white: #f2f7f9;
$gallery: #ececec;
$mischka: #d9dde4;
$dark-mischka: #d2d7e1;
$ghost: #babfcc;
$santas-gray: #979eab;
$shuttle-gray: #5e6979;
$bright-gray: #373e4b;

$white: #ffffff;
$black: #000000;


$brand-orange: #ff8914;
$dark-gray-blue: #323740;
$deep-blue: #5e6979;
$error-red: #f44f41;
$faint-blue: #def5fe;
$ghost-gray: #99a0ad;
$light-gray: #bbbfcc;
$medium-gray-blue: #d2d7e1;
$primary-blue: #00abf2;
$secondary-gray-blue: #6b788a;
$success-green: #1eb234;
$table-gray: #e7ecf3;
$ultra-light-gray: #f2f7f9;
$warning-yellow: #ff9c18;
$white: #ffffff;



$base-font-family: acuminpro, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$heading-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$base-font-size: 1rem;
$font-size-small: 0.8125rem;
$font-size-heading: 1.4375rem;
$base-line-height: 1.4375rem;
$heading-line-height: 1.2rem;
$spacing-x-small: 0.5rem;
$small-spacing: 0.6875rem;
$spacing-medium: 0.8125rem;
$spacing-large: 1rem;
$spacing-x-large: 1.1875rem;
$spacing-xx-large: 1.4375rem;
$spacing-navigation-items: 2rem;
$base-spacing: 1.5rem;
$base-border-radius: 3px;
$border-radius-container: 2px;
$base-z-index: 1;
$base-font-color: #323740;
$color-text-link: #00abf2;
$color-text-inverse: #ffffff;
$color-text-warning: #ab670f;
$color-text-success: #178a29;
$color-text-error: #d14538;
$color-text-button-secondary: #5e6979;
$color-text-button-action: #00abf2;
$color-icon-table-filter: #d2d7e1;
$color-icon-table-header-sort: #5e6979;
$color-text-table-column-header: #5e6979;
$color-icon-input: #bbbfcc;
$action-color: #00abf2;
$secondary-background-color: #f2f7f9;
$color-button-primary: #00abf2;
$color-background-table-row: #ffffff;
$color-background-table-row-alt: #f2f7f9;
$color-background-table-row-hover: #def5fe;
$color-background-dropdown-option-hover: #def5fe;
$color-background-accordion-segment: #d2d7e1;
$color-background-table-filters: #e7ecf3;
$color-background-progress-bar: #d2d7e1;
$base-background-color: #ffffff;
$shadow-shallow-elevation: 0 2px 2px 0 rgba(#bbbfcc, 0.65);
$shadow-inset-shadow: inset 0 1px 1px 0 rgba(#000, 0.22), inset 0 2px 4px 0 rgba(#99a0ad, 0.65);
$recessed-paper-shadow-primary: inset 0 1px 2px 0 rgba(#000000, 0.19);
$recessed-paper-shadow-secondary: inset 0 1px 14px 0 rgba(#000000, 0.08);
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
$base-border-color: #000000;
$color-border-table-row-secondary: #e7ecf3;
$base-border: 1px solid $base-border-color;
$color-border-table: 1px solid $base-border-color;
$color-border-progress-bar: #bbbfcc;
$color-border-input-default: #bbbfcc;
$color-border-input-highlight: #00abf2;
$color-border-input-warning: #ff9c18;
$color-border-input-error: #000000;
$refills-serif: 'Lusitana', 'Georgia', 'Cambria', 'Times New Roman', 'Times', serif;
$refills-narrow-sans: 'Oswald', sans-serif;
$refills-second-serif: 'Georgia', 'Cambria', 'Times New Roman', 'Times', serif;
$refills-nav-height: 60px;
$refills-body-background-color: #ffffff;
$refills-color: #323740;
$refills-accent-color: #00abf2;
$refills-logo-color: #000000;
$refills-anchor-color: #00abf2;
$refills-hero-background: #bbbfcc;
$refills-secondary-anchor-color: #000000;
$refills-highlight-color: #00abf2;
$refills-white-shadow: 0 1px 1px transparentize(#fff, 0.6);
$refills-medium-screen: em(640);
$refills-large-screen: em(860);
