$brand-orange: rgb(255, 137, 20);
$dark-gray-blue: rgb(50, 55, 64);
$deep-blue: rgb(94, 105, 121);
$error-red: rgb(244, 79, 65);
$faint-blue: rgb(222, 245, 254);
$ghost-gray: rgb(153, 160, 173);
$light-gray: rgb(187, 191, 204);
$medium-gray-blue: rgb(210, 215, 225);
$primary-blue: rgb(0, 171, 242);
$secondary-gray-blue: rgb(107, 120, 138);
$success-green: rgb(30, 178, 52);
$table-gray: rgb(231, 236, 243);
$ultra-light-gray: rgb(242, 247, 249);
$warning-yellow: rgb(255, 156, 24);
$white: rgb(255, 255, 255);
$base-font-family: acuminpro, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$heading-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$base-font-size: 1rem;
$font-size-small: 0.8125rem;
$font-size-heading: 1.4375rem;
$base-line-height: 1.4375rem;
$heading-line-height: 1.2rem;
$spacing-x-small: 0.5rem;
$small-spacing: 0.6875rem;
$spacing-medium: 0.8125rem;
$spacing-large: 1rem;
$spacing-x-large: 1.1875rem;
$spacing-xx-large: 1.4375rem;
$spacing-navigation-items: 2rem;
$base-spacing: 1.5rem;
$base-border-radius: 3px;
$border-radius-container: 2px;
$base-z-index: 1;
$base-font-color: rgb(50, 55, 64);
$color-text-link: rgb(0, 171, 242);
$color-text-inverse: rgb(255, 255, 255);
$color-text-warning: rgb(171, 103, 15);
$color-text-success: rgb(23, 138, 41);
$color-text-error: rgb(209, 69, 56);
$color-text-button-secondary: rgb(94, 105, 121);
$color-text-button-action: rgb(0, 171, 242);
$color-icon-table-filter: rgb(210, 215, 225);
$color-icon-table-header-sort: rgb(94, 105, 121);
$color-text-table-column-header: rgb(94, 105, 121);
$color-icon-input: rgb(187, 191, 204);
$action-color: rgb(0, 171, 242);
$secondary-background-color: rgb(242, 247, 249);
$color-button-primary: rgb(0, 171, 242);
$color-background-table-row: rgb(255, 255, 255);
$color-background-table-row-alt: rgb(242, 247, 249);
$color-background-table-row-hover: rgb(222, 245, 254);
$color-background-dropdown-option-hover: rgb(222, 245, 254);
$color-background-accordion-segment: rgb(210, 215, 225);
$color-background-table-filters: rgb(231, 236, 243);
$color-background-progress-bar: rgb(210, 215, 225);
$base-background-color: rgb(255, 255, 255);
$shadow-shallow-elevation: 0 2px 2px 0 rgba(#bbbfcc, 0.65);
$shadow-inset-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.22), inset 0 2px 4px 0 rgba(153, 160, 173, 0.65);
$recessed-paper-shadow-primary: inset 0 1px 2px 0 rgba(#000000, 0.19);
$recessed-paper-shadow-secondary: inset 0 1px 14px 0 rgba(#000000, 0.08);
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
$base-border-color: rgb(0, 0, 0);
$color-border-table-row-secondary: rgb(231, 236, 243);
$base-border: 1px solid $base-border-color;
$color-border-table: 1px solid $base-border-color;
$color-border-progress-bar: rgb(187, 191, 204);
$color-border-input-default: rgb(187, 191, 204);
$color-border-input-highlight: rgb(0, 171, 242);
$color-border-input-warning: rgb(255, 156, 24);
$color-border-input-error: rgb(0, 0, 0);
$refills-serif: 'Lusitana', 'Georgia', 'Cambria', 'Times New Roman', 'Times', serif;
$refills-narrow-sans: 'Oswald', sans-serif;
$refills-second-serif: 'Georgia', 'Cambria', 'Times New Roman', 'Times', serif;
$refills-nav-height: 60px;
$refills-body-background-color: rgb(255, 255, 255);
$refills-color: rgb(50, 55, 64);
$refills-accent-color: rgb(0, 171, 242);
$refills-logo-color: rgb(0, 0, 0);
$refills-anchor-color: rgb(0, 171, 242);
$refills-hero-background: rgb(187, 191, 204);
$refills-secondary-anchor-color: rgb(0, 0, 0);
$refills-highlight-color: rgb(0, 171, 242);
$refills-white-shadow: 0 1px 1px transparentize(#fff, 0.6);
$refills-medium-screen: em(640);
$refills-large-screen: em(860);