// Color codes for
// Blue
$pattens-blue: #def5fe;
$french-pass: #b0e6fb;
$cerulean: #00abf2;
// Green
$madang: #a0eba6;
$leaf-green: #1eb234;
$forest-green: #199d2c;
// Red
$geraldine: #fa9585;
$flamingo: #f44f41;
$red: #e80012;
// Orange
$solomie: #ffdf85;
$tree-poppy: #ff9c18;
$west-side: #ff8914;
// Gray
$black-squeeze: #fafcfd;
$catskill-white: #f2f7f9;
$gallery: #e7ecf3;
$mischka: #d9dde4;
$dark-mischka: #d2d7e1;
$ghost: #babfcc;
$santas-gray: #979eab;
$shuttle-gray: #5e6979;
$bright-gray: #373e4b;

$white: #ffffff;
$black: #000000;

// TODO: Remove those colors. They don't match the style guide
$brand-orange: $west-side;
$dark-gray-blue: $bright-gray;
$deep-blue: $shuttle-gray;
$error-red: $flamingo;
$faint-blue: $pattens-blue;
$ghost-gray: $santas-gray;
$light-gray: $ghost;
$medium-gray-blue: $dark-mischka;
$primary-blue: $cerulean;
$success-green: $leaf-green;
$table-gray: $catskill-white;
$ultra-light-gray: $catskill-white;
$warning-yellow: $tree-poppy;

$primary-color: $cerulean;
$secondary-color: $gallery;

$base-font-family: acuminpro, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$heading-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$base-font-size: 1rem; // 16px
$font-size-small: 0.8125rem; // 13px
$font-size-heading: 1.5rem; // 24px
$base-line-height: 1.5rem; // 24px
$heading-line-height: 1.2rem; // 19.2px
$spacing-xx-small: 0.375rem; // 6px
$spacing-x-small: 0.5rem; // 8px
$small-spacing: 0.6875rem; // 11px
$spacing-medium: 0.8125rem; // 13px
$spacing-large: 1rem; // 16px
$spacing-x-large: 1.1875rem; // 19px
$spacing-xx-large: 1.4375rem; // 23px
$spacing-navigation-items: 2rem; // 32px
$base-spacing: 1.5rem; // 24
$base-border-radius: 3px;
$border-radius-container: 2px;
$base-z-index: 1;
$elevation0: none;
$elevation1: 0 1px 3px rgba($black, 0.12), 0 1px 2px rgba($black, 0.24);
$elevation2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$elevation3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$elevation4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$elevation5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
$elevation-shadows: (
  "resting": $elevation1,
  "raised": $elevation2,
  "floating": $elevation5
);
$z-layers: (
  "goku":            9001,
  "shoryuken":       8000,
  "upper":             10,
  "default":            1,
  "below":             -1,
  "bottomless-pit": -9000
);
$base-font-color: $shuttle-gray;
$color-text-link: $cerulean;
$color-text-inverse: $white;
$color-text-success: $forest-green;
$color-text-error: $flamingo;
$color-text-button-secondary: $shuttle-gray;
$color-text-button-action: $cerulean;
$color-icon-table-filter: $dark-mischka;
$color-icon-table-header-sort: $shuttle-gray;
$color-text-table-column-header: $shuttle-gray;
$color-icon-input: $ghost;
$action-color: $primary-color;
$secondary-background-color: $catskill-white;
$color-button-primary: $cerulean;
$color-background-table-row: $white;
$color-background-table-row-alt: $catskill-white;
$color-background-table-row-hover: $pattens-blue;
$color-background-dropdown-option-hover: $pattens-blue;
$color-background-accordion-segment: $dark-mischka;
$color-background-table-filters: $catskill-white;
$color-background-progress-bar: $dark-mischka;
$base-background-color: $white;
$shadow-shallow-elevation: map-get($elevation-shadows, "resting");
$shadow-inset-shadow: inset 0 1px 1px 0 rgba($black, 0.22), inset 0 2px 4px 0 rgba($santas-gray, 0.65);
$recessed-paper-shadow-primary: inset 0 1px 2px 0 rgba($black, 0.19);
$recessed-paper-shadow-secondary: inset 0 1px 14px 0 rgba($black, 0.08);
$form-box-shadow: inset 0 1px 3px rgba($black, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
$base-border-color: $black;
$color-border-table-row-secondary: $catskill-white;
$base-border: 1px solid $base-border-color;
$color-border-table: 1px solid $base-border-color;
$color-border-progress-bar: $ghost;
$color-border-input-default: $ghost;
$color-border-input-highlight: $cerulean;
$color-border-input-warning: $tree-poppy;
$color-border-input-error: $black;
$refills-serif: 'Lusitana', 'Georgia', 'Cambria', 'Times New Roman', 'Times', serif;
$refills-narrow-sans: 'Oswald', sans-serif;
$refills-second-serif: 'Georgia', 'Cambria', 'Times New Roman', 'Times', serif;
$refills-nav-height: 60px;
$refills-body-background-color: $white;
$refills-color: $bright-gray;
$refills-accent-color: $cerulean;
$refills-logo-color: $black;
$refills-anchor-color: $cerulean;
$refills-hero-background: $ghost;
$refills-secondary-anchor-color: $black;
$refills-highlight-color: $cerulean;
$refills-white-shadow: 0 1px 1px transparentize($white, 0.6);
$refills-medium-screen: em(640);
$refills-large-screen: em(860);
//Tooltip Settings
$tooltip-background: $pattens-blue;
$tooltip-border-color: $cerulean;
$tooltip-max-width: 16em;
$tooltip-arrow-width: 2px;

//Input Variables
$input-border-color: $color-border-input-default;
$input-shadow-color: lighten($input-border-color, 15%);
$input-shadow-inset: inset 0px 1px 3px 0px $input-shadow-color;

$default-feature: min-width;
$column: 90px;
$gutter: 30px;
$grid-columns: 12;
$max-width: 1200px;

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
// $max-width: em(1088);

// Neat Breakpoints
$medium-screen: em(640);
$large-screen: em(860);

$medium-screen-up: new-breakpoint(min-width $medium-screen 4);
$large-screen-up: new-breakpoint(min-width $large-screen 8);
$buttons-list: 'button',
               'input[type="button"]',
               'input[type="reset"]',
               'input[type="submit"]';

$all-buttons:        assign-inputs($buttons-list);
$all-buttons-active: assign-inputs($buttons-list, active);
$all-buttons-focus:  assign-inputs($buttons-list, focus);
$all-buttons-hover:  assign-inputs($buttons-list, hover);

$all-button-inputs:        $all-buttons;
$all-button-inputs-active: $all-buttons-active;
$all-button-inputs-focus:  $all-buttons-focus;
$all-button-inputs-hover:  $all-buttons-hover;
$ease-in-quad:      cubic-bezier(0.550,  0.085, 0.680, 0.530);
$ease-in-cubic:     cubic-bezier(0.550,  0.055, 0.675, 0.190);
$ease-in-quart:     cubic-bezier(0.895,  0.030, 0.685, 0.220);
$ease-in-quint:     cubic-bezier(0.755,  0.050, 0.855, 0.060);
$ease-in-sine:      cubic-bezier(0.470,  0.000, 0.745, 0.715);
$ease-in-expo:      cubic-bezier(0.950,  0.050, 0.795, 0.035);
$ease-in-circ:      cubic-bezier(0.600,  0.040, 0.980, 0.335);
$ease-in-back:      cubic-bezier(0.600, -0.280, 0.735, 0.045);

$ease-out-quad:     cubic-bezier(0.250,  0.460, 0.450, 0.940);
$ease-out-cubic:    cubic-bezier(0.215,  0.610, 0.355, 1.000);
$ease-out-quart:    cubic-bezier(0.165,  0.840, 0.440, 1.000);
$ease-out-quint:    cubic-bezier(0.230,  1.000, 0.320, 1.000);
$ease-out-sine:     cubic-bezier(0.390,  0.575, 0.565, 1.000);
$ease-out-expo:     cubic-bezier(0.190,  1.000, 0.220, 1.000);
$ease-out-circ:     cubic-bezier(0.075,  0.820, 0.165, 1.000);
$ease-out-back:     cubic-bezier(0.175,  0.885, 0.320, 1.275);

$ease-in-out-quad:  cubic-bezier(0.455,  0.030, 0.515, 0.955);
$ease-in-out-cubic: cubic-bezier(0.645,  0.045, 0.355, 1.000);
$ease-in-out-quart: cubic-bezier(0.770,  0.000, 0.175, 1.000);
$ease-in-out-quint: cubic-bezier(0.860,  0.000, 0.070, 1.000);
$ease-in-out-sine:  cubic-bezier(0.445,  0.050, 0.550, 0.950);
$ease-in-out-expo:  cubic-bezier(1.000,  0.000, 0.000, 1.000);
$ease-in-out-circ:  cubic-bezier(0.785,  0.135, 0.150, 0.860);
$ease-in-out-back:  cubic-bezier(0.680, -0.550, 0.265, 1.550);