$tooltip-background: $sail !default;
$tooltip-border-color: $liverleaf !default;
$tooltip-max-width: 16em !default;
$tooltip-arrow-width: 2px !default;
// Can we refactor this one, with clear direct class names instead of much depth.
// As stylelint throws an error on different levels, e.g. too much depth in scss or more then 3 compound selectors
// Maybe it is not possible (optional)

/* stylelint-disable selector-max-compound-selectors, max-nesting-depth */
.tooltip-item {
  display: inline-block;
  position: relative;

  &:focus,
  &:hover .tooltip {
    opacity: 1;
    visibility: visible;
  }

  .tooltip {
    @include transition (all 0.2s ease-in-out);
    min-width: 8.5rem;
    background: $tooltip-background;
    border: $tooltip-arrow-width/2 solid $tooltip-border-color;
    border-radius: $base-border-radius;
    font-size: $font-size-small; // Make sure you use -webkit-backface-visibility: hidden; on the body element to prevent 1px nudging bugs.
    line-height: $base-line-height;
    margin: 0 auto;
    max-width: $tooltip-max-width;
    opacity: 0;
    padding: $space-xs $space-l;
    text-align: center;
    visibility: hidden;
    z-index: z('upper');

    &::after,
    &::before {
      border: solid transparent;
      content: ' ';
      height: 0;
      width: 0;
      pointer-events: none;
    }

    &::after {
      border-color: rgba(136, 183, 213, 0);
      border-width: $tooltip-arrow-width + 1;
    }

    &::before {
      border-color: rgba(194, 225, 245, 0);
      border-width: ($tooltip-arrow-width*1.5 + 2);
      //margin-top: -($tooltip-arrow-width*1.5 + 2)*2;
      margin-left: -($tooltip-arrow-width*1.5 + 1)/2;
    }

    &--bottom {
      @include position(absolute, 100% null null 0);
      margin-top: 10px;

      &::after,
      &::before {
        @include position(absolute, null null 100% 50%);
      }

      &::after {
        border-bottom-color: $tooltip-background;
      }

      &::before {
        border-bottom-color: $tooltip-border-color;
      }
    }

    &--top {
      @include position(absolute, null null 100% 0);
      margin-bottom: 10px;

      &::after,
      &::before {
        @include position(absolute, 100% null null 50%);
      }

      &::after {
        border-top-color: $tooltip-background;
      }

      &::before {
        border-top-color: $tooltip-border-color;
      }
    }

    &--right {
      @include position(absolute, 0 null null 100%);
      margin-left: 6px;

      &::after,
      &::before {
        @include position(absolute, 0.5rem 100% null null);
      }

      &::after {
        border-right-color: $tooltip-background;
      }

      &::before {
        border-right-color: $tooltip-border-color;
        margin-top: -2px;
      }
    }

    &--left {
      @include position(absolute, 0 100% null null);
      margin-right: 6px;

      &::after,
      &::before {
        @include position(absolute, 0.5rem null null 100%);
      }

      &::after {
        border-left-color: $tooltip-background;
      }

      &::before {
        border-left-color: $tooltip-border-color;
        margin-top: -2px;
        margin-left: 0;
        margin-right: -($tooltip-arrow-width*1.5 + 1)/2;
      }
    }
  }
}
/*stylelint-enable */
