@font-face {
	font-family: "demushkin";
	src: url('./demushkin.eot');
	src: url('./demushkin.eot?#iefix') format('eot'),
		url('./demushkin.woff2') format('woff2'),
		url('./demushkin.woff') format('woff'),
		url('./demushkin.ttf') format('truetype'),
		url('./demushkin.svg#demushkin') format('svg');
}

.icon-dem:before {
	font-family: "demushkin";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-dem-alarmclock:before {
	content: "\E001";
}

.icon-dem-arrow_circle_up:before {
	content: "\E002";
}

.icon-dem-arrow_down_circle:before {
	content: "\E003";
}

.icon-dem-arrow_down_circle_inverse:before {
	content: "\E004";
}

.icon-dem-arrow_left_circle:before {
	content: "\E005";
}

.icon-dem-arrow_left_circle_inverse:before {
	content: "\E006";
}

.icon-dem-arrow_right_circle:before {
	content: "\E007";
}

.icon-dem-arrow_right_circle_inverse:before {
	content: "\E008";
}

.icon-dem-arrow_up_circle_inverse:before {
	content: "\E009";
}

.icon-dem-arrow_up_outbox:before {
	content: "\E00A";
}

.icon-dem-avatar:before {
	content: "\E00B";
}

.icon-dem-avatar_circle:before {
	content: "\E00C";
}

.icon-dem-barchart:before {
	content: "\E00D";
}

.icon-dem-bell:before {
	content: "\E00E";
}

.icon-dem-bell_ringing:before {
	content: "\E00F";
}

.icon-dem-bell_silenced:before {
	content: "\E010";
}

.icon-dem-bell_slanted:before {
	content: "\E011";
}

.icon-dem-bullets:before {
	content: "\E012";
}

.icon-dem-bullhorn:before {
	content: "\E013";
}

.icon-dem-bullhorn_loud:before {
	content: "\E014";
}

.icon-dem-bullseye:before {
	content: "\E015";
}

.icon-dem-calendar:before {
	content: "\E016";
}

.icon-dem-checkmark_circle:before {
	content: "\E017";
}

.icon-dem-checkmark_circle_inverse:before {
	content: "\E018";
}

.icon-dem-cross:before {
	content: "\E019";
}

.icon-dem-direction_right_circle:before {
	content: "\E01A";
}

.icon-dem-download:before {
	content: "\E01B";
}

.icon-dem-download_cloud:before {
	content: "\E01C";
}

.icon-dem-downvote:before {
	content: "\E01D";
}

.icon-dem-drop_inverse:before {
	content: "\E01E";
}

.icon-dem-edit_document:before {
	content: "\E01F";
}

.icon-dem-envelope:before {
	content: "\E020";
}

.icon-dem-envelope_alt:before {
	content: "\E021";
}

.icon-dem-exit:before {
	content: "\E022";
}

.icon-dem-expand:before {
	content: "\E023";
}

.icon-dem-favorite_bookmark:before {
	content: "\E024";
}

.icon-dem-flash:before {
	content: "\E025";
}

.icon-dem-folder_dimensional:before {
	content: "\E026";
}

.icon-dem-folder_flat:before {
	content: "\E027";
}

.icon-dem-gear:before {
	content: "\E028";
}

.icon-dem-goggles:before {
	content: "\E029";
}

.icon-dem-growth:before {
	content: "\E02A";
}

.icon-dem-heart_outline:before {
	content: "\E02B";
}

.icon-dem-heart_solid:before {
	content: "\E02C";
}

.icon-dem-home_outline:before {
	content: "\E02D";
}

.icon-dem-home_solid:before {
	content: "\E02E";
}

.icon-dem-inbox:before {
	content: "\E02F";
}

.icon-dem-key:before {
	content: "\E030";
}

.icon-dem-lightbulb:before {
	content: "\E031";
}

.icon-dem-lightbulb_on:before {
	content: "\E032";
}

.icon-dem-locked:before {
	content: "\E033";
}

.icon-dem-login:before {
	content: "\E034";
}

.icon-dem-magnifying_class_small:before {
	content: "\E035";
}

.icon-dem-magnifying_glass_cute:before {
	content: "\E036";
}

.icon-dem-magnifying_glass_large:before {
	content: "\E037";
}

.icon-dem-magnifying_glass_outline:before {
	content: "\E038";
}

.icon-dem-minus_circle:before {
	content: "\E039";
}

.icon-dem-minus_circle_inverse:before {
	content: "\E03A";
}

.icon-dem-more_outline:before {
	content: "\E03B";
}

.icon-dem-more_solid:before {
	content: "\E03C";
}

.icon-dem-outbox:before {
	content: "\E03D";
}

.icon-dem-paperclip:before {
	content: "\E03E";
}

.icon-dem-paperplane:before {
	content: "\E03F";
}

.icon-dem-paperplane_flying:before {
	content: "\E040";
}

.icon-dem-pencil_solid:before {
	content: "\E041";
}

.icon-dem-pencil_stroke:before {
	content: "\E042";
}

.icon-dem-plus_circle:before {
	content: "\E043";
}

.icon-dem-plus_circle_inverse:before {
	content: "\E044";
}

.icon-dem-power:before {
	content: "\E045";
}

.icon-dem-questionmark_circle:before {
	content: "\E046";
}

.icon-dem-redo:before {
	content: "\E047";
}

.icon-dem-refresh:before {
	content: "\E048";
}

.icon-dem-right:before {
	content: "\E049";
}

.icon-dem-shrink:before {
	content: "\E04A";
}

.icon-dem-star:before {
	content: "\E04B";
}

.icon-dem-trash:before {
	content: "\E04C";
}

.icon-dem-unlock:before {
	content: "\E04D";
}

.icon-dem-upload:before {
	content: "\E04E";
}

.icon-dem-upload_cloud:before {
	content: "\E04F";
}

.icon-dem-upvote:before {
	content: "\E050";
}

.icon-dem-warning_circle:before {
	content: "\E051";
}

.icon-dem-warning_circle_inverse:before {
	content: "\E052";
}

.icon-dem-warning_triangle:before {
	content: "\E053";
}

.icon-dem-warning_triangle_inverse:before {
	content: "\E054";
}

.icon-dem-watch_inverse:before {
	content: "\E055";
}

.icon-dem-x_circle:before {
	content: "\E056";
}

.icon-dem-x_circle_inverse:before {
	content: "\E057";
}
