@font-face {
	font-family: "ullrich";
	src: url('./ullrich.eot');
	src: url('./ullrich.eot?#iefix') format('eot'),
		url('./ullrich.woff2') format('woff2'),
		url('./ullrich.woff') format('woff'),
		url('./ullrich.ttf') format('truetype'),
		url('./ullrich.svg#ullrich') format('svg');
}

.icon-ull:before {
	font-family: "ullrich";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-ull-Refresh:before {
	content: "\E001";
}

.icon-ull-avatar:before {
	content: "\E002";
}

.icon-ull-avatar_circle:before {
	content: "\E003";
}

.icon-ull-bell:before {
	content: "\E004";
}

.icon-ull-calendar:before {
	content: "\E005";
}

.icon-ull-camera:before {
	content: "\E006";
}

.icon-ull-checkmark:before {
	content: "\E007";
}

.icon-ull-checkmark_circle:before {
	content: "\E008";
}

.icon-ull-checkmark_square:before {
	content: "\E009";
}

.icon-ull-documents:before {
	content: "\E00A";
}

.icon-ull-flash:before {
	content: "\E00B";
}

.icon-ull-folder:before {
	content: "\E00C";
}

.icon-ull-folder_line:before {
	content: "\E00D";
}

.icon-ull-forbidden_nwtose:before {
	content: "\E00E";
}

.icon-ull-forbidden_swtone:before {
	content: "\E00F";
}

.icon-ull-funnel:before {
	content: "\E010";
}

.icon-ull-gear:before {
	content: "\E011";
}

.icon-ull-heart:before {
	content: "\E012";
}

.icon-ull-home:before {
	content: "\E013";
}

.icon-ull-locked:before {
	content: "\E014";
}

.icon-ull-magnifiying_glass:before {
	content: "\E015";
}

.icon-ull-message_bubble:before {
	content: "\E016";
}

.icon-ull-minus_circle:before {
	content: "\E017";
}

.icon-ull-more_circle:before {
	content: "\E018";
}

.icon-ull-paperclip:before {
	content: "\E019";
}

.icon-ull-paperplane:before {
	content: "\E01A";
}

.icon-ull-paperplane_flying:before {
	content: "\E01B";
}

.icon-ull-pencil:before {
	content: "\E01C";
}

.icon-ull-phone_circle:before {
	content: "\E01D";
}

.icon-ull-plus_circle:before {
	content: "\E01E";
}

.icon-ull-questionmark_circle:before {
	content: "\E01F";
}

.icon-ull-redo:before {
	content: "\E020";
}

.icon-ull-tag:before {
	content: "\E021";
}

.icon-ull-unlock:before {
	content: "\E022";
}

.icon-ull-warning_circle:before {
	content: "\E023";
}

.icon-ull-warning_triangle:before {
	content: "\E024";
}

.icon-ull-watch:before {
	content: "\E025";
}

.icon-ull-wrench:before {
	content: "\E026";
}

.icon-ull-x:before {
	content: "\E027";
}

.icon-ull-x_circle:before {
	content: "\E028";
}

.icon-ull-x_large:before {
	content: "\E029";
}
