$badge-font-size: $font-size-small !default;

@mixin badge($color: $heaven, $bgcolor: $arctica ) {
  background-color: $bgcolor;
  border-radius: 50%;
  color: $color;
  display: inline-block;
  font-size: $badge-font-size;
  line-height: 1;
  padding: $spacing-xx-small $small-spacing;
}

.wsds-filter-badge {
  @include badge;
}
