$export-notification-css: true !default;
$notification-width: rem(368px) !default;
$notification-font-color: $base-font-color !default;
$notification-font-size: $base-font-size !default;
$notification-background-color: $silver !default;
$notification-info-color: $bombay !default;
$notification-warning-color: $west-side !default;
$notification-success-color: $forest-green !default;
$notification-error-color: $flamingo !default;

@if $export-notification-css {
    .notification {
        @include clearfix();
        @include inset-spacing("m");
        min-height: rem(70px);
        width: $notification-width;
        box-sizing: border-box;
        box-shadow: map-get($elevation-shadows, raised);
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        font-family: $base-font-family;
        font-size: $notification-font-size;
        color: $notification-font-color;
        background-color: $notification-background-color;
        border-left: $space-xxs solid $notification-info-color;
        transition: opacity .5s ease-out;
        &.is-hidden {
            opacity: 0;
        }
        .icons {
            float: left;
            width: $heading-line-height;
            height: $heading-line-height;
            margin: $space-inline-m;
            .icon {
                font-size: rem(48px);
                line-height: $heading-line-height;
                display: none;
                &:before {
                    margin-top: 0;
                    font-size: 100%;
                    margin-left: -$space-xs;
                }
            }
        }
        .content {
            flex: auto 1 1;
            margin: auto;
            max-height: rem(260px);
            padding: $space-inline-xl;
            overflow: auto;
            .title {
                font-size: $base-font-size;
                line-height: $base-font-size;
                font-weight: bold;
                &.is-standalone {
                    padding: $space-xs 0;
                }
            }
            .description {
                font-size: $font-size-small;
                line-height: $base-font-size;
                padding: $space-xxs 0;
                margin: 0;
            }
            &.has-description .title {
                margin-bottom: rem(8px);
            }
        }
        &.info {
            .icons {
                display: none;
            }
        }
        &.warning {
            border-left-color: $notification-warning-color;
            .icons .icon-warning {
                color: $notification-warning-color;
                display: block;
                &:before {
                    content: map-get($icons, warning-triangle);
                }
            }
        }
        &.success {
            border-left-color: $notification-success-color;
            .icons .icon-success {
                color: $notification-success-color;
                display: block;
                &:before {
                    content: map-get($icons, checkmark-circle);
                }
            }
        }
        &.error {
            border-left-color: $notification-error-color;
            .icons .icon-error {
                color: $notification-error-color;
                display: block;
                &:before {
                    content: map-get($icons, cross);
                }
            }
        }
    }
}