$refills-serif: "Lusitana", $georgia;
$refills-narrow-sans: "Oswald", sans-serif;
$refills-second-serif: $georgia;

$refills-nav-height: 60px;

$refills-body-background-color: $base-background-color;
$refills-color: $base-font-color;
$refills-accent-color: $action-color;
$refills-logo-color: $orange;
$refills-anchor-color: $action-color;
$refills-hero-background: $light-gray;
$refills-secondary-anchor-color: $medium-gray;
$refills-highlight-color: $action-color;
$refills-white-shadow: 0 1px 1px transparentize(#fff, 0.6);

$refills-medium-screen: em(640);
$refills-large-screen: em(860);
