$export-button-html: true !default;

$button-color: $white !default;
$button-background: $primary-color !default;
$button-shadow-color: $dark-mischka !default;
$button-border-radius: $base-border-radius !default;
$button-padding: 0.5em 1em !default;
$button-sizes: (
  small: $font-size-small,
  medium: $base-font-size,
  large: $font-size-heading
) !default;
$button-shadows: (
  normal: 0 2px 1px 0px,
  hover: 0 2px 1px 0px,
  active: inset 0 1px 3px 0,
  disabled: 0 0 0 0
) !default;

@mixin button-base() {
  font-family: $base-font-family;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  text-decoration: none;
  text-align: center;
  user-select: none;
  border: 1px solid transparent;
  border-radius: $button-border-radius;
  padding: $button-padding;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  outline: none;
  @include appearance(none);
  @include transition(all .4s);
}

@mixin button-style($background, $foreground, $shadow) {
  background-color: $background;
  color: $foreground;
  box-shadow: map-get($button-shadows, normal) $shadow;

  &:hover,
  &:focus,
  &:active,
  &.button-hover,
  &.button-focus {
    box-shadow: map-get($button-shadows, hover) darken($shadow, 15%);
  }

  &:active,
  &:focus,
  &.button-focus {
    background-color: darken($background, 2%);
    box-shadow: map-get($button-shadows, active) darken($shadow, 25%);
  }
}

@mixin button-small() {
  font-size: map-get($button-sizes, small);
}

@mixin button-medium() {
  font-size: map-get($button-sizes, medium);
}

@mixin button-large() {
  font-size: map-get($button-sizes, large);
}

@mixin button-disabled() {
  cursor: not-allowed;
  opacity: 0.5;
  box-shadow: map-get($button-shadows, disabled);
}

@if $export-button-html {
  #{$all-button-inputs} {
    @include button-base;
    @include button-style($button-background, $button-color, $button-shadow-color);
    @include button-medium;
    &.button-large {
      @include button-large;
    }
    &.button-small {
      @include button-small;
    }
    &:disabled, &.button-disabled {
      @include button-disabled;
    }
    &.button-secondary {
      @include button-style($secondary-color, $shuttle-gray, $button-shadow-color);
    }
    &.button-toggle {
      @include button-style($secondary-color, $shuttle-gray, $button-shadow-color);
      &:active,
      &:focus,
      &.button-focus {
        color: $west-side;
        background-color: lighten($ghost, 15%);
      }
      &:disabled,
      &.button-disabled {
        color: $shuttle-gray;
      }
    }
    &.button-flat {
      @include button-style(transparent, $primary-color, $button-color);
      &:hover,
      &:focus,
      &:active,
      &.button-hover,
      &.button-focus {
        background-color: darken($white, 2%);
      }
    }
  }
}
