$input-text-color: $shuttle-gray !default;
$input-background-color: $white !default;
$input-border-color: $ghost !default;
$input-shadow-color: lighten($input-border-color, 15%) !default;
$input-focused-border-color: $primary-color !default;
$input-focused-shadow-color: lighten($input-focused-border-color, 40%) !default;
$input-disabled-background-color: $catskill-white !default;

fieldset {
  background-color: $secondary-background-color;
  border: $base-border;
  margin: 0 0 $small-spacing;
  padding: $base-spacing;
}

input,
label,
select {
  display: block;
  font-family: $base-font-family;
  font-size: $base-font-size;
}

label {
  font-weight: 600;
  margin-bottom: $small-spacing / 2;

  &.required::after {
    content: "*";
  }

  abbr {
    display: none;
  }
}

input:not([type=radio]):not([type=checkbox]),
select,
textarea {
  padding: rem(8px);
  border: 1px solid $input-border-color;
  box-shadow: $input-shadow-inset;
  outline: none;
  background-color: white;
  height: rem(34px);
  font-weight: normal;
  transition: border-color .2s linear, box-shadow .2s linear;
  &:focus {
    border-color: $input-focused-border-color;
    box-shadow: inset 0 1px 3px 0px $input-focused-shadow-color;
  }
  &:disabled {
    background-color: $input-disabled-background-color;
  }
}

.input-wrapper {
  position: relative;
  .icon {
    position: absolute;
    top: 10px;
    right: 8px;
  }
}

textarea {
  resize: vertical;
}

input[type="search"] {
  appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: $small-spacing / 2;
}

input[type="file"] {
  padding-bottom: $small-spacing;
  width: 100%;
}

select {
  max-width: 100%;
  width: auto;
}
