$export-form-css: true !default;
$input-text-color: $asphalt !default;
$input-background-color: $white !default;
$input-border-color: $french-gray !default;
$input-shadow-color: lighten($input-border-color, 15%) !default;
$input-focused-border-color: $primary-color !default;
$input-focused-shadow-color: lighten($input-focused-border-color, 40%) !default;
$input-disabled-background-color: $catkin !default;

@mixin input-box($bg-color, $border-color, $shadow-color, $focus-border-color, $focus-shadow-color, $disabled-color) {
  padding: rem(8px);
  border: 1px solid $border-color;
  box-shadow: inset 0px 1px 3px 0px $shadow-color;
  box-sizing: border-box;
  outline: none;
  background-color: $bg-color;
  height: rem(34px);
  font-weight: normal;
  transition: border-color .2s linear, box-shadow .2s linear;
  &:focus {
    border-color: $focus-border-color;
    box-shadow: inset 0 1px 3px 0px $focus-shadow-color;
  }
  &:disabled {
    background-color: $disabled-color;
  }
}

@mixin default-input {
  @include input-box(
      $bg-color: $input-background-color,
      $border-color: $input-border-color,
      $shadow-color: $input-shadow-color,
      $focus-border-color: $input-focused-border-color,
      $focus-shadow-color: $input-focused-shadow-color,
      $disabled-color: $input-disabled-background-color
  );
}

@if $export-form-css {

  fieldset {
    background-color: $secondary-background-color;
    border: $base-border;
    margin: 0 0 $small-spacing;
    padding: $base-spacing;
  }

  input,
  label,
  select,
  textarea {
    display: block;
    font-family: $base-font-family;
    font-size: $base-font-size;
  }

  label {
    font-weight: 600;
    margin-bottom: $small-spacing / 2;

    &.required::after {
      content: "*";
    }

    abbr {
      display: none;
    }
  }

  input:not([type]),
  input[type=text],
  input[type=url],
  input[type=password],
  input[type=tel],
  input[type=number],
  input[type=color],
  input[type=email],
  select,
  textarea {
    @include input-box(
        $bg-color: $input-background-color,
        $border-color: $input-border-color,
        $shadow-color: $input-shadow-color,
        $focus-border-color: $input-focused-border-color,
        $focus-shadow-color: $input-focused-shadow-color,
        $disabled-color: $input-disabled-background-color
    )
  }

  .input-wrapper {
    position: relative;
    .icon {
      position: absolute;
      top: 10px;
      right: 8px;
    }
  }

  textarea {
    resize: vertical;
  }

  input[type="search"] {
    appearance: none;
  }

  input[type="checkbox"],
  input[type="radio"] {
    margin-right: $small-spacing / 2;
  }

  input[type="file"] {
    padding-bottom: $small-spacing;
    width: 100%;
  }

  select {
    max-width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    width: auto;
  }

  .select-box {
    padding: rem(8px 20px 8px 8px);
    border: 1px solid $input-border-color;
    box-sizing: border-box;
    background-color: $input-background-color;
    height: rem(34px);
    line-height: rem(17px);
    font-weight: normal;
    position: relative;
    display: block;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &:after {
      content: '';
      position: absolute;
      right: rem(7px);
      top: 50%;
      margin-top: rem(-2px);
      border: 4px solid rgba(0, 0, 0, 0);
      border-top-color: $input-border-color;
    }
  }
}
