$table-border-color: $earl-gray;
$table-header-background-color: $catkin;
$table-header-color: $asphalt;
$table-header-border-color: $mischka;
$table-header-row-border-bottom-color: $athens-gray;
$table-header-row-border-top-color: $catkin;
$table-body-color: $shark;
$table-row-even: $white;
$table-row-odd: $catkin;
$table-row-hover-color: $sail;
$table-row-border-color: darken($catkin, 5%);

.sort {
  position: relative;
  width: rem(10px);
  .icon-asc,
  .icon-desc {
    vertical-align: middle;
    opacity: .4;
    position: absolute;
    cursor: pointer;
    &.icon-desc {
      top: rem(13px);
    }
    &.icon-asc {
      top: 0;
    }
    &:hover {
      opacity: 1;
    }
  }
  &.asc .icon-asc {
    opacity: 1;
  }
  &.desc .icon-desc {
    opacity: 1;
  }
}

.table-actions {
  margin: rem(20px 0 11px);
}

table {
  width: 100%;
  border: 1px solid $table-border-color;
  border-radius: 2px;
  border-collapse: separate;
  thead {
    border-bottom: 1px solid $table-header-border-color;
    background-color: $table-header-background-color;
    color: $table-header-color;
    th {
      text-align: left;
    }
    tr:not(:last-child) th {
      border-bottom: 1px solid $table-header-row-border-bottom-color;
    }
    tr:not(:first-child) th {
      border-top: 1px solid $table-header-row-border-top-color;
      background-color: darken($table-header-background-color, 3%);
    }
    tr:last-child th {
      border-bottom: 1px solid $table-header-border-color;
    }
    tr:first-child {
      th {
        padding: rem(8px 25px 8px 11px);
        white-space: nowrap;
        position: relative;
        label {
          font-size: rem(13px);
          font-weight: normal;
          text-transform: uppercase;
          display: inline-block;
          margin: 0;
        }
        .sort {
          position: absolute;
          right: rem(15px);
          z-index: 1;
        }
      }
      th:not(:last-child) {
        border-right: 1px solid $table-row-border-color;
      }
      th:first-child {
        border-top-left-radius: 2px;
      }
      th:last-child {
        border-top-right-radius: 2px;
      }
    }
    tr:not(:first-child) {
      th {
        padding: rem(5px 4px);
      }
    }
  }
  tbody {
    color: $asphalt;
    tr:nth-of-type(even) td {
      background-color: $table-row-odd;
      border-bottom: 1px solid $table-row-border-color;
    }
    tr:nth-of-type(odd) td,
    tr.pagination-row td {
      background-color: $table-row-even;
    }
    tr:nth-last-child(2) td {
      border-bottom: 1px solid $table-row-border-color;
    }
    td {
      padding: rem(8px 11px);
    }
  }
}
