$badge-font-size: 0.75em !default;

@mixin badge($color: $miroschka) {
  background-color: $color;
  border-radius: $badge-font-size * 5;
  color: darken($color, 60%);
  display: inline-block;
  font-size: $badge-font-size;
  line-height: 1;
  padding: 0.4em 1.2em;
}

.badge {
  @include badge;
}

.badge-alert {
  @include badge($alert-color);
}

.badge-error {
  @include badge($error-color);
}

.badge-notice {
  @include badge($notice-color);
}

.badge-success {
  @include badge($success-color);
}
