//Imported from Zalando Dress Code: http://zalando.github.io/dress-code/02-atoms.html#checkboxes
@mixin checkbox($controller-border-radius : 4px, $sibling-label-selector : ".label") {
    display: none;

    + #{$sibling-label-selector} {
        display: inline-block;
        position: relative;
        margin-right: $base-spacing + 1;
        margin-bottom: 0;
        padding-left: $base-spacing + .5;
        @include user-select(none);

        &:before,
        &:after {
            position: absolute;
            left: 0;
            width: $base-spacing;
            height: $base-spacing;
            border: 2px solid $santas-gray;
            border-radius: $controller-border-radius;
            background: #fff;
            content: " ";
        }

        &:after {
            top: rem(3px);
            left: rem(3px);
            width: $base-spacing - rem(6px);
            height: $base-spacing - rem(6px);
            opacity: 0;
            @include transition((opacity, transform), (.2s, .1s), (linear, ease-in-out));
            @include transform(scale3d(.5, .5, 1));
        }
    }

    &:checked + #{$sibling-label-selector}:after {
        opacity: 1;
        @include transform(scale3d(1, 1, 1));
    }

    &:disabled + #{$sibling-label-selector} {
        color: $french-gray;
        opacity: 0.75;

        &:before,
        &:after {
            border-color: $french-gray;
        }
    }

    &[type="checkbox"] + #{$sibling-label-selector}:after {
        @extend .icon-checkmark;
        top: .3rem;
        left: .3rem;
        width: 1.125rem;
        height: 1.125rem;
        border: 0 none;
    }

    &[type="radio"] + #{$sibling-label-selector}:after {
        top: rem(6px);
        left: rem(6px);
        width: rem(16px);
        height: rem(16px);
        background: $action-color;
        border: none;
        vertical-align: middle;
    }

    &:disabled + #{$sibling-label-selector} {
        color: $french-gray;

        &:before,
        &:after {
            border-color: $french-gray;
        }

        &:after {
            @extend .icon-checkmark-alt;
        }
    }

    + #{$sibling-label-selector} {
        font-size: $base-font-size;
        line-height: $base-line-height;
        font-weight: normal;
        text-transform: none;
    }
}

@mixin switch($sibling-label-selector: ".label") {
    &[type="checkbox"] + #{$sibling-label-selector} {
        padding-left: 3.5rem;
        line-height: $base-line-height + 1;

        &:before,
        &:after {
            border: none;
            @include transition((background-color, transform), (.1s, .3s), (linear, $ease-out-quart));
        }

        &:after {
            width: rem(14px);
            height: rem(14px);
            background: $earl-gray;
            opacity: 1;
            border-radius: rem(7px);
            margin-top: rem(8px);
            box-shadow: $shadow-shallow-elevation;
            @include transform(scale3d(1.6, 1.6, 1.6));
        }

        &:before {
            background-color: $miroschka;
            width: rem(41px);
            height: rem(14px);
            margin-top: rem(14px);
            border-radius: rem(8px);
        }

    }

    &:checked + #{$sibling-label-selector} {
        &:after {
            background: none;
            background-color: $kohpayam;
            @include transition((background-color, transform), (.1s, .1s), (linear, $ease-out-quart));
            @include transform(translateX(rem(20)) scale3d(1.6, 1.6, 1.6));
        }

        &:before {
            background-color: $madang;
        }
    }

    &:disabled + #{$sibling-label-selector} {
        &:after, &:before {
            background-image: none!important;
        }
    }

}

.checkbox {
    @include checkbox;
}
.checkbox-switch {
    @include checkbox;
    @include switch;
}
.radio {
    @include checkbox(50%);
}