$export-dropdown-css: true !default;
$dropdown-shadow: map-get($elevation-shadows, raised) !default;
$dropdown-arrow-shadow-color: rgba(0, 0, 0, .16) !default; // $elevation2 color 1
$dropdown-font-color: $base-font-color !default;
$dropdown-font-family: $base-font-family !default;
$dropdown-separator-color: $earl-gray !default;
$dropdown-background-color: $white !default;
$dropdown-background-color-accent: $earl-gray !default;
$dropdown-background-color-active: $arctica !default;

@mixin dropdown-container($background-color, $shadow) {
  position: absolute;
  top: 100%;
  right: 0;
  width: rem(200px);
  margin-top: rem(20px);
  height: 0;
  display: none;
  background-color: $background-color;
  border-radius: 2px;
  box-shadow: $shadow;
  transition: height .25s ease;
  will-change: height;
  overflow: hidden;
  z-index: 3;
  &.left {
    right: auto;
    left: 0;
  }
}

@mixin dropdown() {
  display: block;
  position: absolute;
  top: 0;
  left: 100%;
  margin: 0;
  padding: rem(5px 0);
  width: 100%;
}

@mixin dropdown-item($font-color, $font-family, $accent-bg-color, $active-bg-color) {
  position: relative;
  font-size: rem(14px);
  color: $font-color;
  font-family: $font-family;
  line-height: 2;
  cursor: pointer;
  padding: rem(8px 30px 8px 13px);
  box-sizing: border-box;
  white-space: nowrap;
  width: 100%;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: normal;
  &:hover,
  &.is-focused {
    background-color: $accent-bg-color;
  }
  &.is-disabled {
    color: lighten($font-color, 30%);
  }
  &.is-active {
    background-color: $active-bg-color;
  }
}

@mixin dropdown-item-separator($border-color) {
  height: 0;
  border-bottom: 1px solid $border-color;
  list-style: none;
}

@mixin dropdown-submit($border-color) {
  padding: $spacing-medium;
  border-top: 1px solid $border-color;
  text-align: right;
}

@mixin dropdown-arrow($container-background-color, $container-shadow-color) {
  display: none;
  position: absolute;
  width: rem(10px);
  height: rem(10px);
  bottom: rem(-25px);
  left: rem(20px);
  background: linear-gradient(-45deg, rgba($container-background-color, 0) 50%, $container-background-color 50%);
  transform: rotate(45deg);
  z-index: 3;
  box-shadow: -1px -1px 1px lighten($container-shadow-color, 45%);
}

@if $export-dropdown-css {
  .dropdown {
    position: relative;
    display: block;
    .dropdown-container {
      @include dropdown-container($dropdown-background-color, $dropdown-shadow);
      &.right + .dropdown-arrow {
        right: rem(20px);
        left: auto;
      }
      .dropdown-root-menu {
        right: 0;
        left: auto;
      }
      &.mod-open {
        display: block;
        + .dropdown-arrow {
          display: block;
        }
      }
    }
    .dropdown-trigger {
      cursor: pointer;
    }
    .dropdown-menu {
      @include dropdown();
      &.mod-menu-open,
      &.mod-sub-open {
        left: 0;
      }
      &.mod-sub-open > .dropdown-item > .text {
        opacity: 0;
        z-index: -1;
      }
    }
    .dropdown-item {
      list-style: none;
      .text {
        @include dropdown-item(
                $dropdown-font-color,
                $dropdown-font-family,
                $dropdown-background-color-accent,
                $dropdown-background-color-active
        );
      }
    }
    .dropdown-item-separator {
      @include dropdown-item-separator($dropdown-separator-color);
    }
    .dropdown-submit {
      @include dropdown-submit($dropdown-separator-color);
    }
    .dropdown-arrow {
      @include dropdown-arrow($dropdown-background-color, $dropdown-arrow-shadow-color);
    }
    .dropdown-container.animate-close {
      animation: closeContainer .2s ease-in-out forwards;
    }
    .dropdown-menu.animate-in > .dropdown-item > .text {
      animation: dropDownIn .3s cubic-bezier(.53, 1.49, 1, .87) .0s forwards;
    }
    .dropdown-menu.animate-out > .dropdown-item > .text {
      animation: dropDownOut .3s cubic-bezier(.32, .97, .71, .95) .05s forwards;
    }
    .dropdown-menu.animate-sub-in > .dropdown-item > .text,
    .dropdown-menu.animate-sub-in > .dropdown-item-separator {
      animation: dropDownSubIn .3s cubic-bezier(.53, 1.49, 1, .87) .0s forwards;
    }
    .dropdown-menu.animate-sub-out > .dropdown-item > .text,
    .dropdown-menu.animate-sub-out > .dropdown-item-separator {
      animation: dropDownSubOut .3s cubic-bezier(.32, .97, .71, .95) .05s forwards;
    }
    .dropdown-menu.animate-in,
    .dropdown-menu.animate-out,
    .dropdown-menu.animate-sub-in,
    .dropdown-menu.animate-sub-out {
      @for $i from 1 through 20 {
        > .dropdown-item:nth-child(#{$i}) > .text {
          animation-delay: #{$i * .035s};
        }
      }
    }
  }

  @keyframes closeContainer {
    100% {
      height: 0;
    }
  }

  // 0.4s linear
  @keyframes dropDownOut {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
    70% {
      opacity: 0;
    }
    100% {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  }

  // 0.4s linear
  @keyframes dropDownIn {
    0% {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
      opacity: 0;
    }
    100% {
      -webkit-transform: translate3d(0%, 0, 0);
      transform: translate3d(0%, 0, 0);
      opacity: 1;
    }
  }

  // 0.4s linear
  @keyframes dropDownSubOut {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
    70% {
      opacity: 0;
    }
    100% {
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }
  }

  // 0.3s ease-in-out
  @keyframes dropDownSubIn {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      opacity: 0;
    }
    100% {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
      opacity: 1;
    }
  }
}
