$radio-group-background: $action-color !default;
$radio-group-color: white !default;
$radio-group-border: 1px solid lighten($sail, 5%) !default;
$radio-group-inner-border: 1px solid lighten($sail, 5%) !default;
$radio-group-background-checked: darken($miroschka, 15%) !default;
$radio-group-color-checked: white !default;
$radio-group-border-checked: darken($radio-group-background, 15%) !default;
$radio-group-background-gray: $secondary-color !default;
$radio-group-color-gray: $asphalt !default;
$radio-group-border-gray: $french-gray !default;

.radio-group {
  @include clearfix;
  input {
    display: none;
  }

  label {
    margin-bottom: 0;

    @include media($large-screen) {
      float: left;
    }

    .radio-group-item {
      background: $radio-group-background;
      border-left: $radio-group-border;
      border-radius: 0;
      border-right: $radio-group-border;
      color: $radio-group-color;
      cursor: pointer;
      display: inline-block;
      font-size: $base-font-size;
      font-weight: normal;
      line-height: 1;
      padding: $button-padding;
      width: 100%;

      @include media($large-screen) {
        border-bottom: $radio-group-border;
        border-left: 0;
        border-right: $radio-group-inner-border;
        border-top: $radio-group-border;
        width: auto;
      }

      &:active,
      &:focus,
      &:hover {
        background-color: darken($radio-group-background, 3%);
      }
    }

    &:first-child .radio-group-item {
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
      border-top: $radio-group-border;

      @include media($large-screen) {
        border-bottom-left-radius: $base-border-radius;
        border-left: $radio-group-border;
        border-top-left-radius: $base-border-radius;
        border-top-right-radius: 0;
      }
    }

    &:last-child .radio-group-item {
      border-bottom-left-radius: $base-border-radius;
      border-bottom-right-radius: $base-border-radius;
      border-bottom: $radio-group-border;

      @include media($large-screen) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: $base-border-radius;
        border-right: $radio-group-border;
        border-top-right-radius: $base-border-radius;
      }
    }

    input:checked + .radio-group-item {
      background-color: darken($radio-group-background, 2%);
      box-shadow: inset 0 1px 3px 0 $asphalt;
      color: $radio-group-color-checked;
    }

    input:disabled + .radio-group-item {
      cursor: not-allowed;
      opacity: 0.5;
      box-shadow: 0 0 0 0!important;
    }
  }
}

.radio-group--gray {
  label {
    .radio-group-item {
      background-color: $radio-group-background-gray;
      color: $radio-group-color-gray;
      border-right-color: $radio-group-border-gray;

      &:active,
      &:focus,
      &:hover {
        background-color: darken($radio-group-background-gray, 3%);
      }
    }
    input:checked + .radio-group-item {
      background-color: darken($radio-group-background-gray, 2%);
      color: $asphalt;
    }
  }
}
