$include-heading-css: true !default;
$heading-font-family: $base-font-family !default;
$heading-color: $fjord !default;
$heading-font-size-small: 1.125rem !default; // 24px
$heading-font-size-large: 2rem !default; // 32px
$heading-line-height-small: 2rem !default; // 32px
$heading-line-height-large: 2rem !default; // 32px

@if $include-heading-css {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $heading-font-family;
    margin: 0;
    color: $heading-color;
    &.mod-clickable {
      cursor: pointer;
      color: $anchor-color;
      &:hover {
        color: $anchor-hover-color;
      }
    }
  }
  // Large heading
  h2 {
    font-size: $heading-font-size-large;
    line-height: $heading-line-height-large;
    font-weight: 300;
  }
  // Medium
  h3 {
    font-size: $space-l;
    line-height: $heading-line-height-large;
    font-weight: 500;
  }
  // Small heading
  h4 {
    font-size: $heading-font-size-small;
    line-height: $heading-line-height-small;
    font-weight: 400;
  }
}
