// Color codes for
$egg-white: #FFF6C4; // solomie
$grandis: #FFD77E;
$west-side: #FF9C0F; // west-side
$zalando-orange: #FF6900;

$pippin: #FFDDDB;
$geraldine: #FA9585;
$flamingo: #F44F41;
$mojo: #C74236;

$snowy-mint: #C9FFD1;
$madang: #A0EBA6;
$forest-green: #1EB234;
$kohpayam: #188F2A;

$arctica: #DEF5FE; // pattens-blue
$sail: #B0D6FB; // french-pass
$heaven: #00ABF2; // cerulean
$liverleaf: #008DC9;

$white: #FFFFFF;
$athens-gray: #FAFBFC; // black-squeeze
$catkin: #F5F6F9; // catskill-white
$silver: #F0F1F6;
$earl-gray: #E9EAEF;

$mischka: #E1E2E8;
$miroschka: #D5D7DE;
$ghost: #CBCDD5;
$french-gray: #BDBFC7;

$bombay: #ACADB5;
$santas-gray: #9B9BA3;
$jumbo: #8B8A91;
$heron: #7a7980;

$asphalt: #626166;
$abbey: #454547;
$shark: #272829;
$black: #000000;

$primary-color: $liverleaf;
$secondary-color: $earl-gray;

$base-font-family: 'acumin-pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$heading-font-family: 'acumin-pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$base-font-size: 1rem; // 16px
$font-size-small: 0.8125rem; // 13px
$font-size-large: 1.1875rem;
$font-size-heading: 1.5rem; // 24px
$base-line-height: 1.5rem; // 24px
$heading-line-height: 2rem; // 32px
$spacing-xx-small: 0.375rem; // 6px
$spacing-x-small: 0.5rem; // 8px
$small-spacing: 0.6875rem; // 11px
$spacing-medium: 0.8125rem; // 13px
$spacing-large: 1rem; // 16px
$spacing-x-large: 1.1875rem; // 19px
$spacing-xx-large: 1.4375rem; // 23px
$spacing-navigation-items: 2rem; // 32px
$base-spacing: 1.5rem; // 24
$base-border-radius: 3px;
$border-radius-container: 2px;
$base-z-index: 1;
$elevation0: none;
$elevation1: 0 1px 3px rgba($black, 0.12), 0 1px 2px rgba($black, 0.24);
$elevation2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$elevation3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$elevation4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$elevation5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
$elevation-shadows: (
  "resting": $elevation1,
  "raised": $elevation2,
  "floating": $elevation5
);
$z-layers: (
  "goku":            9001,
  "shoryuken":       8000,
  "upper":             10,
  "default":            1,
  "below":             -1,
  "bottomless-pit": -9000
);
$base-font-color: $asphalt;
$color-text-link: $liverleaf;
$color-text-inverse: $white;
$color-text-success: $kohpayam;
$color-text-error: $flamingo;
$color-text-button-secondary: $asphalt;
$color-text-button-action: $liverleaf;
$color-icon-table-filter: $miroschka;
$color-icon-table-header-sort: $asphalt;
$color-text-table-column-header: $asphalt;
$color-icon-input: $french-gray;
$action-color: $primary-color;
$secondary-background-color: $catkin;
$color-button-primary: $liverleaf;
$color-background-table-row: $white;
$color-background-table-row-alt: $catkin;
$color-background-table-row-hover: $sail;
$color-background-dropdown-option-hover: $sail;
$color-background-accordion-segment: $miroschka;
$color-background-table-filters: $catkin;
$color-background-progress-bar: $miroschka;
$base-background-color: $white;
$shadow-shallow-elevation: map-get($elevation-shadows, "resting");
$shadow-inset-shadow: inset 0 1px 1px 0 rgba($black, 0.22), inset 0 2px 4px 0 rgba($santas-gray, 0.65);
$recessed-paper-shadow-primary: inset 0 1px 2px 0 rgba($black, 0.19);
$recessed-paper-shadow-secondary: inset 0 1px 14px 0 rgba($black, 0.08);
$form-box-shadow: inset 0 1px 3px rgba($black, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
$base-border-color: $black;
$color-border-table-row-secondary: $catkin;
$base-border: 1px solid $base-border-color;
$color-border-table: 1px solid $base-border-color;
$color-border-progress-bar: $french-gray;
$color-border-input-default: $french-gray;
$color-border-input-highlight: $liverleaf;
$color-border-input-warning: $zalando-orange;
$color-border-input-error: $black;
$refills-serif: 'Lusitana', 'Georgia', 'Cambria', 'Times New Roman', 'Times', serif;
$refills-narrow-sans: 'Oswald', sans-serif;
$refills-second-serif: 'Georgia', 'Cambria', 'Times New Roman', 'Times', serif;
$refills-nav-height: 60px;
$refills-body-background-color: $white;
$refills-color: $shark;
$refills-accent-color: $liverleaf;
$refills-logo-color: $black;
$refills-anchor-color: $liverleaf;
$refills-hero-background: $french-gray;
$refills-secondary-anchor-color: $black;
$refills-highlight-color: $liverleaf;
$refills-white-shadow: 0 1px 1px transparentize($white, 0.6);
$refills-medium-screen: em(640);
$refills-large-screen: em(860);
//Tooltip Settings

//Input Variables
$input-border-color: $color-border-input-default;
$input-shadow-color: lighten($input-border-color, 15%);
$input-shadow-inset: inset 0px 1px 3px 0px $input-shadow-color;

$default-feature: min-width;
$column: 90px;
$gutter: 30px;
$grid-columns: 12;
$max-width: 1200px;

// Neat Breakpoints
$medium-screen: em(640);
$large-screen: em(860);

$medium-screen-up: new-breakpoint(min-width $medium-screen 4);
$large-screen-up: new-breakpoint(min-width $large-screen 8);
$buttons-list: 'button',
               'input[type="button"]',
               'input[type="reset"]',
               'input[type="submit"]';

$all-buttons:        assign-inputs($buttons-list);
$all-buttons-active: assign-inputs($buttons-list, active);
$all-buttons-focus:  assign-inputs($buttons-list, focus);
$all-buttons-hover:  assign-inputs($buttons-list, hover);

$all-button-inputs:        $all-buttons;
$all-button-inputs-active: $all-buttons-active;
$all-button-inputs-focus:  $all-buttons-focus;
$all-button-inputs-hover:  $all-buttons-hover;
$ease-in-quad:      cubic-bezier(0.550,  0.085, 0.680, 0.530);
$ease-in-cubic:     cubic-bezier(0.550,  0.055, 0.675, 0.190);
$ease-in-quart:     cubic-bezier(0.895,  0.030, 0.685, 0.220);
$ease-in-quint:     cubic-bezier(0.755,  0.050, 0.855, 0.060);
$ease-in-sine:      cubic-bezier(0.470,  0.000, 0.745, 0.715);
$ease-in-expo:      cubic-bezier(0.950,  0.050, 0.795, 0.035);
$ease-in-circ:      cubic-bezier(0.600,  0.040, 0.980, 0.335);
$ease-in-back:      cubic-bezier(0.600, -0.280, 0.735, 0.045);

$ease-out-quad:     cubic-bezier(0.250,  0.460, 0.450, 0.940);
$ease-out-cubic:    cubic-bezier(0.215,  0.610, 0.355, 1.000);
$ease-out-quart:    cubic-bezier(0.165,  0.840, 0.440, 1.000);
$ease-out-quint:    cubic-bezier(0.230,  1.000, 0.320, 1.000);
$ease-out-sine:     cubic-bezier(0.390,  0.575, 0.565, 1.000);
$ease-out-expo:     cubic-bezier(0.190,  1.000, 0.220, 1.000);
$ease-out-circ:     cubic-bezier(0.075,  0.820, 0.165, 1.000);
$ease-out-back:     cubic-bezier(0.175,  0.885, 0.320, 1.275);

$ease-in-out-quad:  cubic-bezier(0.455,  0.030, 0.515, 0.955);
$ease-in-out-cubic: cubic-bezier(0.645,  0.045, 0.355, 1.000);
$ease-in-out-quart: cubic-bezier(0.770,  0.000, 0.175, 1.000);
$ease-in-out-quint: cubic-bezier(0.860,  0.000, 0.070, 1.000);
$ease-in-out-sine:  cubic-bezier(0.445,  0.050, 0.550, 0.950);
$ease-in-out-expo:  cubic-bezier(1.000,  0.000, 0.000, 1.000);
$ease-in-out-circ:  cubic-bezier(0.785,  0.135, 0.150, 0.860);
$ease-in-out-back:  cubic-bezier(0.680, -0.550, 0.265, 1.550);
