$include-badge-css: true !default;
$badge-color: $white !default;
$badge-background-color: $french-gray !default;
$badge-red-color: $white !default;
$badge-red-background-color: $geraldine !default;
$badge-blue-color: $white !default;
$badge-blue-background-color: $heaven !default;
$badge-font-size: $font-size-small !default;
$badge-line-height: $space-l !default;
$badge-small-line-height: $space-m !default;

/**
 * Includes css for a badge without icon
 */
@mixin badge() {
  // Percent refer to width and height of element which leads to an ellipse in most cases (width > height)
  // Therefore we use fixed length values which will leads the browser to use a square for curve calculation
  border-radius: 9999px;
  display: inline-block;
  font-size: $badge-font-size;
  line-height: $badge-line-height;
  padding: 0 $space-xs;
}

/**_
 * Includes css to colorize a badge
 * @param $color Color value for the font
 * @param $background-color Color for background
 */
@mixin badge-color($color, $background-color) {
  color: $color;
  background-color: $background-color;
}

@if $include-badge-css {
  .badge {
    @include badge();
    @include badge-color($badge-color, $badge-background-color);
    &.mod-blue {
      @include badge-color($badge-blue-color, $badge-blue-background-color);
    }
    &.mod-red {
      @include badge-color($badge-red-color, $badge-red-background-color);
    }
    &.mod-small {
      line-height: $badge-small-line-height;
    }
    .icon,
    [class^="icon-"],
    [class*=" icon"] {
      // Fix some spacings and sizes
      margin: rem(-1px -4px 0 0);
      cursor: pointer;
    }
  }
  .badge-group {
    .badge {
      &:not(:first-child) {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }
      &:not(:last-child) {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        margin-right: 1px;
      }
    }
  }
}
