$export-button-css: true !default;

$button-color: $white !default;
$button-color-disabled: $arctica !default;
$button-background: $heaven !default;
$button-background-disabled: $sail !default;
$button-shadow-color: $miroschka !default;
$button-border-radius: $base-border-radius !default;
$button-padding: 0.5em 1em !default;
$button-sizes: (
  small: $font-size-small,
  medium: $base-font-size,
  large: $font-size-large
) !default;
$button-shadows: (
  normal: $paper-shadow-2,
  hover: $paper-shadow-3,
  active: none,
  disabled: none
) !default;

@mixin button-base() {
  font-family: $base-font-family;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  text-decoration: none;
  text-align: center;
  user-select: none;
  border: 1px solid transparent;
  border-radius: $button-border-radius;
  padding: $button-padding;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  outline: none;
  @include appearance(none);
  @include transition(all .2s);
}

@mixin button-style($background, $foreground) {
  background-color: $background;
  color: $foreground;
  box-shadow: map-get($button-shadows, normal);
  &:hover,
  &.is-hovered {
    box-shadow: map-get($button-shadows, hover);
  }
  &:active,
  &.is-active {
    background-color: darken($background, 2%);
    box-shadow: map-get($button-shadows, active);
  }
}

@mixin button-small() {
  font-size: map-get($button-sizes, small);
}

@mixin button-medium() {
  font-size: map-get($button-sizes, medium);
}

@mixin button-large() {
  font-size: map-get($button-sizes, large);
}

@mixin button-disabled($color, $background) {
  cursor: not-allowed;
  color: $color;
  background-color: $background;
  box-shadow: map-get($button-shadows, disabled);
}

@if $export-button-css {
  .button,
  button,
  input[type="reset"],
  input[type="button"],
  input[type="submit"] {
    @include button-base;
    @include button-style($button-background, $button-color);
    @include button-medium;
    &.mod-large {
      @include button-large;
    }
    &.mod-small {
      @include button-small;
    }
    &:disabled, &.is-disabled {
      @include button-disabled($button-color-disabled, $button-background-disabled);
    }
    &.mod-secondary {
      @include button-style($secondary-color, $asphalt);
    }
    &.mod-toggle {
      @include button-style($secondary-color, $asphalt);
      &:active,
      &.is-active {
        box-shadow: map-get($button-shadows, hover);
      }
      &:disabled,
      &.is-disabled {
        color: $asphalt;
        cursor: not-allowed;
      }
    }
    &.mod-flat {
      @include button-style(transparent, $primary-color);
      box-shadow: none;
      &:hover,
      &.is-hovered {
        box-shadow: $paper-shadow-2;
        background-color: $catkin;
      }
      &:active,
      &.is-active {
        box-shadow: none;
      }
    }
    &.mod-collapse {
      padding: 0;
    }
  }
  .file-button {
    font-weight: normal;
    display: inline-block;
    vertical-align: middle;
    input[type="file"] {
      display: none;
    }
  }
}
