$include-card-css: true !default;
$card-background-color: $white !default;
$card-box-shadow: $paper-shadow-2 !default;
$card-padding: $space-xl !default;

@mixin card($background-color, $shadow, $padding) {
  background-color: $background-color;
  box-shadow: $shadow;
  padding: $padding;
  border-radius: $base-border-radius;
  border-top: 1px solid $earl-gray;
}

@if $include-card-css {
  .card {
    @include card($card-background-color, $card-box-shadow, $card-padding);
    .card-title {
      margin: 0 0 $card-padding 0;
      font-weight: 400;
    }
    .card-actions {
      margin: $space-m 0 0 0;
      text-align: right;
    }
  }
}
