$include-spacing-css: true !default;
$sizes: (
  xxs: 0.25rem, // 4px
  xs: 0.5rem, // 8px
  s: 0.75rem, // 12px
  m: 1rem, // 16px
  l: 1.5rem, // 24px
  xl: 2rem, // 32px
  xxl: 3rem, // 48px
  xxxl: 4rem // 64px
);

@if $include-spacing-css {
  @each $size in map-keys($sizes) {
    // Margin
    .mb-#{$size} {
      margin-bottom: map-get($sizes, $size);
    }

    .mt-#{$size} {
      margin-top: map-get($sizes, $size);
    }

    .ml-#{$size} {
      margin-left: map-get($sizes, $size);
    }

    .mr-#{$size} {
      margin-right: map-get($sizes, $size);
    }

    // Padding
    .pb-#{$size} {
      padding-bottom: map-get($sizes, $size);
    }

    .pt-#{$size} {
      padding-top: map-get($sizes, $size);
    }

    .pl-#{$size} {
      padding-left: map-get($sizes, $size);
    }

    .pr-#{$size} {
      padding-right: map-get($sizes, $size);
    }
  }
}
